# ===== globais =====
global
    maxconn 2048
    nbthread 1

# ===== padrões =====
defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

# ===== entrada =====
frontend entrada
    bind *:9999
    default_backend apis

# ===== instancias ======
backend apis
    balance roundrobin

    server api1 /sockets/api1.sock
    server api2 /sockets/api2.sock
