# ===== globais =====
global
    maxconn 100000
    nbthread 1

# ===== padrões =====
defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

# ===== entrada =====
frontend entrada
    bind *:9999
    default_backend apis

# ===== instancias ======
backend apis
    balance roundrobin
    option tcp-check

    server api1 /sockets/api1.sock check inter 500ms rise 1 fall 2
    server api2 /sockets/api2.sock check inter 500ms rise 1 fall 2
